body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px #757575;
    border-radius: 10px;
}

#title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: bold;
}

.inputContainer {
    width: auto;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 5px;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
}

#input {
    width: 20rem;
    border-style: none;
    height: 1.5rem;
    outline: none;
    font-size: 1.3rem;
    letter-spacing: 5px;
}

#input::placeholder {
    letter-spacing: 0;
}

.fa-copy {
    opacity: .3;
    cursor: pointer;

}

.fa-copy:hover {
    opacity: .8;

}

#btn {
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    border: none;
    background-color: #212121;
    color: white;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 15px;
}

#btn:hover {
    background-color: #2E7D32;
}

#btn:active {
    transform: scale(.97);
}

.alertContainer {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: 50px;
    border: 1px solid #1B5E20;
    border-radius: 10px;
    background-color: #4CAF50;
    padding: 0 10px;
    transition: 1s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.active {
    right: -350px;
}

#alertContent {
    font-size: 20px;
}